body {
    margin: 0;
    padding: 0;
    font-family: Tahoma !important;
}


hr {
    width: 100%;
    border: 1px solid gray
}

/* button:hover {
    filter: brightness(70%);
} */

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.alert-text {
    color:red
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
