body {
    display: flex;
    overflow: hidden;
}

.content-title {
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.content {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    padding-left: 20px;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.body {
    display: flex;
    flex-direction: row;
}

.content-split-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* margin-right: 30px; */
    padding:20px;
    min-width: 650px;
}

.content-split-right {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 330px;
    /* background-color: aquamarine; */
    padding: 20px;  
}

.locker-status-container {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.locker-status-container-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.locker-status-container-content > div {
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: auto;
    display: flex; /* Use flexbox for image centering */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    flex-direction: column;
    padding-bottom: 15px;
}

.locker {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
    transition: transform .2s;
}

.locker:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.locker img {
    max-width: 70%;
    max-height: 70%;
    display: block;
    width: auto;
    height: auto;
}

.chg-pass-button {
    margin-top: 20px;
    width: fit-content;
}



/* dashboard CSS lol */ /* dashboard CSS lol */ /* dashboard CSS lol */ /* dashboard CSS lol */

.left_container {
    width: 60%;
    margin-right: 20px;
}

.right_container {
    width: 40%;
}

.right_content {
    padding-top: 20px;
}

.left_content {
    padding-top: 20px;
}

.approve_container {
    display: flex;
    border: 1px solid lightgrey;
    height: 100px;
    margin-bottom: 30px;
    
}

.approve_container1 {
    width: 20%;
    
}

.approve_container2 {
    width: 50%;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    
}

.approve_container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    
}

.approve-buttons {
    display: flex;
    align-items: center;
    height: 100%;
}

.approve_text {
    display: flex;
    padding: 15px;
}

.fa-check {
    color: green;
    font-size: 40px;
    padding: 5px;
}

.fa-xmark {
    color: red;
    font-size: 40px;
    padding: 5px;
}

.approve_btn, .reject_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.approve_btn, .reject_btn:hover {
    cursor:pointer;
}

.approve_btn {
    background-color: #5183E9;
    border-color: #5183E9;
    color: white;
}

.approve_btn:hover {
    background-color: #055ab6;
}

.reject_btn {
    color: white;
    background-color: rgb(233, 93, 93);
}

.reject_btn:hover {
    background-color: lightgrey;
}
.status-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 20px
}

/* dashboard CSS lol */ /* dashboard CSS lol */ /* dashboard CSS lol */ /* dashboard CSS lol */