.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-title {
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}


/* might not be used */
.content-divider {
    border: 0.5px solid black;
    margin: 30px 0px;
}

.content-split-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.content-top-container {
    width: 100%;
}

.content-bottom-container {
    width: 100%;
}

.content-item {
    
}

.section-title {
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

.announcements-container {
    margin-top: 20px;
    padding: 20px;
    background-color: grey;
}

.announcements-textarea {
    resize: vertical;
    width: 100%;
}

.add-annoucements-button {
    width: 100%;
    margin-top: 20px;
}


.chg-pass-button {
    margin-top: 20px;
    width: fit-content;
}