.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-title {
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}


/* might not be used */
.content-divider {
    border-bottom: 1px solid grey;
    width: 100%;
    margin-top: 30px;
}

.content-split-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.content-top-container {
    width: 100%;
}

.content-bottom-container {
    width: 100%;
}

/* not used?
.section-title {
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}
*/

.chg-pass-button {
    margin-top: 20px;
    width: fit-content;
}