.annoucement-card {
    width: 100%;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.annoucement-container {
    margin: 10px;
}

.annoucement-container1, .annoucement-container2, .annoucement-container3, .annoucement-delete {
    display: inline-block;
}

.annoucement-container1 {
    width: 60%;
}

.annoucement-container2 {
    width: 20%;
    text-align: center;
    color: lightgrey;
}

.annoucement-container3 {
    width: 10%;
    text-align: justify;
}

.annoucement-title {
    color: blue;
}

.annoucement-delete {
    border: 0px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.announcement-delete:hover {
    background-color: #0254ab;
    cursor: pointer;
}

.announcement-confirm-pop {
    border: 1px solid #007bff;
    border-radius: 5px;
    width: 70px;
    background-color: #007bff;
}

.announcement-confirm-pop:hover {
    background-color: #0254ab;
    cursor: pointer;

}

.announcement-cancel-pop {
    border: 1px solid black;
    border-radius: 5px;
    width: 70px;
    background-color: white;
}



.announcement-cancel-pop:hover {
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}

.announcement-confirm-pop, .announcement-cancel-pop {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

.pop-container {
    display: flex;
    justify-content: end;
}



.annoucement-content {
    overflow-wrap: break-word;
}

.ann-delete-text {
    color: white;
    text-decoration: none;;
}

.announcements-container {
    width: 100%;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.announcements-textarea {
    resize: vertical;
    width: 100%;
    white-space: pre-wrap;
}

.add-announcement-button {
    width: 150px;
    height: 30px;
    border: 1px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.add-ann-title {
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.add-ann-content {
    margin: 10px;
    margin-left: 20px;
    margin-right: 30px;
}

.add-ann-btn {
    margin: 20px;
    display: flex;
    justify-content: end;
}

.popup-container-ann-delete {
    background-color: white;
    width:300px;
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
}

.ann-delete-text1 {
    text-align: left;
    margin-top: 10px;
}