.announce-content {
    display: flex;
    padding:20px;
}

.add-announcements-size {
    height: 80vh;
    width: 50%;
    margin-right: 20px;
}

.previous-announcemnts-size {
    height: 80vh;
    width: 50%;
}




.add-announcements-container {
    border: 1px;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding:0 20px;
}

.announcements-textarea {
    resize: vertical;
    width: 100%;
    white-space: pre-wrap;
}

.announcement-textarea-content {
    height: 100%;
}

.add-announcement-button {
    width: 150px;
    height: 40px;
    border: 1px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.add-announcement-button:hover {
    background-color: #005bbd;
    cursor: pointer;
}

.add-ann-title {
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}

.add-ann-content {
    margin: 10px;
}

.announcement-textarea-container {
    display: flex;
    flex:1;
    height: 30vh;
    /* height: 100%; */
    /* flex-direction: column; */
    /* max-height: 300px; */
}


.add-ann-btn {
    margin: 20px 0;
    display: flex;
    justify-content: end;
}

.popup-container-ann-delete {
    background-color: white;
    width:300px;
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
}

.radio-button-container {
    display: flex;
}

.radio-button {
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin: 5px;
    width: 100px;
}

.radio-button:hover {
    font-weight: 700;
    cursor: pointer;
}

.selected-radio-button {
    border: 0 !important;
    background-color: #007bff !important;
    color: white !important;
}

.selected-radio-button:hover {
    background-color: #014fa2 !important;
}

.announcements-list {
    display: flex;
    height: auto;
    flex-direction: column;
    overflow-y: auto;
    padding:10px
}

.annoucement-card {
    display: flex;
    /* width: 100%; */
    min-width:0;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
}

.annoucement-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.annoucement-title {
    color: blue;
}

.annoucement-content {
    width: 60vh;
    font-size: 14px;
    overflow-wrap: break-word;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.announce-footer{
    font-weight: 700;
}

.annoucement-delete-container {
    display: flex;
    align-items: center;
    padding: 10px
}

.annoucement-delete {
    height: 30px;
    border: 0px;
    border-radius: 5px;
    background-color: red;
    color: white;
    margin: 5px;
    width: 70px;
}

.annoucement-delete:hover {
    background-color: rgb(255, 49, 49);
    font-weight: 700;
    cursor: pointer;
}

.announcement-confirm-pop {
    border: 1px solid #007bff;
    border-radius: 5px;
    width: 70px;
    height: 40px;
    color: white;
    background-color: #007bff;
}

.announcement-confirm-pop:hover {
    background-color: #1c89fd;
    cursor: pointer;
    font-weight: 700;

}

.announcement-cancel-pop {
    border: 1px solid red;
    border-radius: 5px;
    width: 70px;
    background-color: red;
    color: white;
}

.announcement-cancel-pop:hover {
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(255, 49, 49);
}

.announcement-confirm-pop, .announcement-cancel-pop {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

.pop-container {
    display: flex;
    justify-content: end;
}

