/* sidebar */

.sidebar button {
    font-size: 13px;
}

.header button {
    font-size: 13px;
    line-height: 1.2;
}

.sidebar {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    /* margin: 0 1.3rem; */
    border-right: 1px solid black;
    flex-direction: column;
    align-items: center;
}

.sidebar-logo {
    margin: 30px 0px;
    width: 200px;
    display: inline-block;
    /* min-width: ; */
}

.sidebar-nav-container {
    display: flex;
    justify-content: center;
}

.sidebar-nav-list {
    flex-direction: column;
    margin: 0;
    padding: 0px;
    display: flex;
}

.sidebar-nav-list a {
    text-decoration: none;
}

.sidebar-nav-list-li {
    display: inline-block;
    margin: 10px 10px;
}

.sidebar-nav-btn {
    text-align: left;
    padding: 10px 10px;
    background-color: #e8e8e9;
    width: 185px !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.sidebar-nav-btn:hover {
    cursor: pointer;
    background-color: #a7b3ec;
}

/* header */
.header {
    position: relative; /* Ensure the header is positioned */
    z-index: 2; /* Higher z-index for the header */
    display: flex;
    border-bottom: 1px solid black;
    height: 100px;
    padding: 0 30px;
    align-items: center;
}

.header-title {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
}

.header-img {
    width: 25px;
    height: 25px;
    align-self: center;
    border-radius: 100%;
    border: 2px solid black
}
.profile-button-container {
    position: relative;
    z-index: 1; /* Lower z-index for the profile container */
    display: flex;
    justify-content: center;
    margin: 50px;
}

.profile-button {
    display: flex;
    justify-self: end;
    text-align: left;
    align-items: center;
    padding: 5px 10px;
    background-color: #e8e8e9;
    margin-left: auto;
    width: auto;
    border-radius: 360px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-button:hover {
    cursor: pointer;
    background-color: #a7b3ec;
}
.profile-dropdown {
    visibility: hidden;
    list-style: none;
    background: white;
    position: absolute;
    border: 1px solid black;
    right: -30%;
    top: 105%;
    width: 200px;
    z-index: 10; /* Higher z-index for the dropdown */
}
.profile-dropdown-item {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}
.profile-dropdown-item:hover {
    background-color: #a7b3ec;
}
/* header */


/* snackbar css */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index:5;
    right: 50px;
    bottom: 30px;
    font-size: 17px;
}
  
.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* snackbar css */

/* popup modal */
.popup-backdrop {
    background-color: rgb(128, 128, 128, 0.8); /* Grey color with 80% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width of the viewport */
    z-index: 999; /* Ensure the backdrop is above other content */
    visibility: hidden; /* Initially hidden */
}


.popup-container {
    background-color: white;
    width: 850px;
    border-radius: 10px;
    height: auto; /* Adjust height based on content */
    max-height: 80vh; /* Limit maximum height to 80% of viewport height */
    overflow-y: auto; /* Add vertical scroll if content overflows */
    padding: 20px;
}
/* popup modal */

/* database */
.add-records-button {
    margin-left: auto;
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}
/* database */
 
/* editModal & deleteModal */
.delete-modal-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.modal-buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.edit-cancel-button, .edit-update-button, .delete-cancel-button, .delete-delete-button {
    width: 90px;
    height: 30px;
    border: 1px;
    border-radius: 5px;
    margin: 0 10px;
}

.edit-cancel-button, .delete-cancel-button{
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
}

.edit-cancel-button:hover , .delete-cancel-button:hover{
    background-color: #aaaaaa;

}

.edit-update-button {
    background-color: #007bff;
    color: white;
}

.edit-update-button:hover {
    background-color: #005bbd;
}

.delete-delete-button {
    background-color: red;
    color: white
}

.delete-delete-button:hover {
    background-color: rgb(178, 0, 0);
}
/* editModal & deleteModal */