
.verification-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.logo-container {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 150px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:700px;
}

.form-input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    display: flex; flex-direction: column;
}


.send-code-container {
    position: relative;
}

.send-code {
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: #eeeeee00;
    cursor: pointer;
    margin-right: 110px;
}

.form-button {
    margin: 0px 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #1c89fd;
    font-weight: 700;
}

.forgot-password {
    margin: 10px 100px;
    text-align: end;
    color: #007bff;
    text-decoration: none;
}

.form-nav {
    margin-top: 20px;
    color: #0000007e;
}

.forgot-password:hover {
    text-decoration: underline;
}

.footer-terms {
    display: flex;
    width: 350px;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 20px;
    color: black;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.container1 {
    display: flex;
}

#captcha-img {
    width: 100px;
}

#captcha-container {
    margin-left: 10px;
}

#captcha-input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    margin-left: 100px;
    border-radius: 10px;
    display: flex; flex-direction: column;
}

#captcha-container, #captcha-input {
    display: inline-block;
}